<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limengxiang.tmq.queue.DefaultQueueStorage">
    <insert id="add" parameterType="com.limengxiang.tmq.message.DefaultMessage">
        INSERT INTO tmq_queue (queue_name,msg_id,body,schedule,status,receive_at)
        VALUES (#{queueName},#{msgId},#{body},#{schedule},#{status},#{receiveAt})
    </insert>
    <select id="get" resultType="com.limengxiang.tmq.message.DefaultMessage" resultMap="queueMap">
        SELECT * FROM tmq_queue WHERE msg_id = #{id}
    </select>
    <update id="update" parameterType="com.limengxiang.tmq.message.DefaultMessage">
        UPDATE tmq_queue
        <trim prefix="SET" suffixOverrides=",">
            <if test="status!=null">status = #{status},</if>
            <if test="consumeAt!=null">consume_at = #{consumeAt},</if>
        </trim>
        WHERE msg_id = #{msgId}
    </update>
    <resultMap id="queueMap" type="com.limengxiang.tmq.message.DefaultMessage" autoMapping="true">
        <result column="msg_id" property="msgId"/>
        <result column="receive_at" property="receiveAt"/>
        <result column="consume_at" property="consumeAt"/>
    </resultMap>
</mapper>
